@import "../../styles/colours.scss";
@import "../../styles/mixins.scss";
@import "../../styles/vars";

.split-text-panel {
    width: 100%;
}

.split-text-panel__inner {
    display: flex;
    flex-direction: column;

    @include md {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.split-text-panel__content {
    padding: $section-padding $gutter;
    text-align: left;

    @include lg {
        padding: $section-padding $gutter;
    }
    
    &--grey {
        background-color: $surface;
        color: $text;
    }
    
    &:first-child {
        .split-text-panel__content__inner {
            margin-left: auto;
        }
    }
    &:last-child {
        .split-text-panel__content__inner {
            margin-right: auto;
        }
    }
}

.split-text-panel__content__inner {
    width: 100%;

    @include lg {
        max-width: $half-container;
    }
}

.split-text-panel__title {
    margin-bottom: 1rem;
    display: grid;
    gap: .5rem;

    &--with-icon {
        grid-template-columns: auto auto 1fr;
        align-items: center;
    }
}

.split-text-panel__title__text {
    text-align: left;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    font-size: $fs-heading;
    

    

    
}

.split-text-panel__paragraph {
    margin-bottom: .5rem;
}


.split-text-panel__title__icon {
    justify-self: flex-end;
    align-self: center;
    max-height: $mobile-title;

    @include md {
        max-height: $tablet-title;
    }

    @include lg {
        max-height: $desktop-title;
    }
}

.split-text-panel__title__spacer {

}