@import "../../../styles/colours.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/vars.scss";

$chora-pink: #fbaae3;
$background: #544468;

.fundraise-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem 2rem;

    background-color: $background;

}

.fundraise-banner__title {
    margin: auto;
    font-size: $mobile-title;
    margin-bottom: 1rem;
    color: $white;
    text-transform: uppercase;
    
    @include md {
        font-size: $tablet-title;
        margin-bottom: 1.5rem;
    }

    @include lg {
        font-size: $desktop-title;
    }
}

.fundraise-banner__chora {
    font-family: "Bauhaus 93", sans-serif;
    letter-spacing: -4px;
    text-transform: uppercase;
    line-height: 0.8;
    color: $chora-pink;
}

.fundraise-banner__button {
    margin: auto;
    max-width: none;
    padding: .5rem 1rem;
    font-size: $mobile-title - .25rem;
    
    border: none;
    color: $background;
    background-color: $chora-pink;
    width: 100%;
    // text-transform: uppercase;

    @include md {
        font-size: $tablet-title - .5rem;
        padding: .5rem 1rem;
        font-size: 2.5rem;
        width: auto;
    }
        
    @include lg {
        font-size: $desktop-title - .5rem;
    }
    
    &:hover {
        background-color: darken($chora-pink, 3%);
    }
}