@import "./colours";

.button {
    margin-top: 1.5rem;
    background-color: $white;
    cursor: pointer;
    font-size: 1.25rem;
    width: 100%;
    max-width: 250px;
    padding: .25rem .5rem;

    border-radius: .25rem;
    box-shadow: none;

    border: 1px solid $jet;

    align-self: flex-start;
    text-decoration: none;
    color: $black;

    @media only screen and (max-width: 768px) {
        width: 100%;
        max-width: none;
        margin-top: 2.5rem;
    }

    &:hover {
        background-color: darken($white, 5%);
    }

    &:active,
    &:focus,
    &:target {
        border-color: $pink;
    }

    &--large {
        padding: .5rem 1rem;
        margin-top: 2rem;
    }

    &__loader {
        height: 1.25rem;
    }
}