@import "./colours.scss";
@import "vars";

.footer {
    &__container {
        position: relative;
        z-index: 999;
    
        height: 450px;
    
        background-image: url("../../public/images/about-us-footer.png");
        background-size: cover;
        background-color: $white;
        background-position: top 50%;

        @media only screen and (max-width: 768px) {
            height: 300px;
            background-position: 50%;
        }
    }

    &__inner {
        // height: 60px;
        // background-color: $black;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        color: $white;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0.25rem 2rem 0.75rem;

        @media only screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__logo {
        max-height: 56px;
        align-self: center;

        @media only screen and (max-width: 768px) {
            justify-self: center;
            order: 0;

            margin-bottom: .5rem;
        }
    }

    &__socials {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
        width: 100%;

        font-size: 2.5rem;
        color: $white;
        text-decoration: none;

        @media only screen and (max-width: 768px) {
            justify-content: center;
            order: 1;
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        a {
            color: $white;
            text-decoration: none;
            text-shadow: 1px 1px $black;

            &:hover {
                color: $blue;
            }
        }
    }
    
    &__credit {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        font-size: 1.5rem;
        color: $white;
        text-decoration: none;
        text-shadow: 1px 1px $black;
        white-space: nowrap;

        @media only screen and (max-width: 768px) {
            justify-content: center;
            order: 2;

            font-size: 1.25rem;
        }
    }
}