@import "vars";

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes zoomInMore {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

.immersive-block {
    position: relative;
    width: 100%;
    height: 60vh;

    overflow: hidden;

    // background-size: cover;
    // background-position: center;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #B1BBD5;
        background-image: url("../../public/images/temporal/boots-background.png");            /* Replace with your image */
        background-size: cover;
        background-position: center;
        animation: zoomIn 10s alternate infinite;
        transform: scale(1);
        z-index: 0;

        @media only screen and (max-width: 768px) {
            background-position: top;
            animation: zoomInMore 10s alternate infinite;
        }
    }

    @media only screen and (max-width: 768px) {
        height: auto;
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        height: 50vh;
    }

    // &--boots {
    //     background-image: url("../../public/images/boots_background.png");
    // }
    &--emmons {
        &::before {
            background-color: #788ed8;
            background-image: url("../../public/images/temporal/emmons-background.png");
        }

        @keyframes hologram {
            0% {
                opacity: 0.99;
            }

            40% {
                opacity: 0.9;
            }

            50% {
                opacity: 0.8;
            }

            60% {
                opacity: 0.9;
            }

            100% {
                opacity: 0.99;
            }
        }

        .immersive-block__image {
            animation: hologram 5s ease-in-out alternate infinite;
        }
    }

    &__container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        max-width: 1280px;
        height: 100%;

        @media only screen and (max-width: 768px) {
            display: flex;
            flex-direction: column-reverse;
        }

        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            grid-template-columns: auto 1fr;
        }
    }
    
    &__image {
        // height: 60vh;
        max-height: 55vh;
        position: relative;
        width: max-content;
        overflow: hidden;
        align-self: flex-end;
        justify-self: center;
        grid-column: 1;
        grid-row: 1;

        @media only screen and (max-width: 768px) {
            margin-top: .5rem;
            height: auto;
            width: 80%;
            max-height: none;
            margin-left: auto;
            margin-right: auto;
        }

        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            height: 40vh;
        }
    }

    &__text-container {
        text-align: center;
        color: $white;
        padding: 1rem;
        align-self: center;
        justify-self: center;

        grid-column: 2;
        grid-row: 1;

        @media only screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }

    &--reverse {
        .immersive-block__text-container {
            grid-column: 1;
        }
        .immersive-block__image {
            grid-column: 2;
        }
    }

    &__title {
        font-size: $desktop-title;
        font-weight: bold;
        text-shadow: 1px 1px $black;

        @media only screen and (max-width: 768px) {
            font-size: $mobile-title;
        }
    }
    &__paragraph {
        font-size: $desktop-content-text;
        text-shadow: 1px 1px $black;
        text-align: center;

        @media only screen and (max-width: 768px) {
            font-size: $mobile-content-text;
        }
    }
}