@import "vars";

.member-frame {
    background-color: $white;

    height: 400px;
    width: 100%;
    position: relative;
    
    @media only screen and (max-width: 768px) {
        height: auto;
        max-height: 200px;
    }

    &__container {
        width: 100%;
        max-width: 1280px;
        margin: auto;

        display: grid;
        grid-template-columns: 1fr 1fr;

        position: relative;
        flex-direction: row-reverse;
    }

    &__name {
        width: 100%;
        font-size: $desktop-title;
        color: $grey;
        font-weight: bold;
        letter-spacing: 1px;

        display: flex;
        justify-content: center;

        margin-top: 4rem;

        grid-column: 1;
        grid-row: 1;

        @media only screen and (max-width: 768px) {
            font-size: $mobile-title;
        }
    }

    &__image {
        width: auto;
        height: 500px;
        transform: translateY(-100px);
        justify-self: center;

        grid-column: 2;
        grid-row: 1;

        @media only screen and (max-width: 768px) {
            height: 110%;
            max-height: 220px;
            transform: translateY(-10%);
            overflow: hidden;
        }
    }

    &--grey {
        background-color: $grey;

        .member-frame__name {
            grid-column: 2;
            color: $white;
        }
        .member-frame__image {
            grid-column: 1;
        }
    }
}