$navbar-height: 126px;
$navbar-height-mobile: 60px;

$mobile-paragraph: 1.25rem;
$desktop-paragraph: 1.25rem;

$mobile-content-text: 1.25rem;
$desktop-content-text: 1.5rem;

$mobile-title: 2rem;
$tablet-title: 3rem;
$desktop-title: 4rem;