$jet: #41393E;
$violet: #5D4E6D;
$green: #00AF54;
$very-light-grey: #eeeeee; 
$light-grey: #dddddd; 
$dark-grey: #bbbbbb; 
$very-dark-grey: #aaaaaa; 

$purple: #866EFF;
$blue: #00D4D4;
$pink: #D627A9;
$black: #0E0F17;
$grey: #4C4C5C;
$white: #EAEAEA; 
