@import "../../node_modules/normalize.css";
@import "./colours.scss";
@import "./loader";
@import "./navbar";

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    background-color: $jet;
}