@import "../../node_modules/normalize.css";
@import "../../node_modules/tachyons-sass";
@import '@splidejs/react-splide/css';

@import "./colours.scss";
@import "./loader";
@import "./navbar";
@import "./latest-project";
@import "./button";
@import "./footer";
@import "./hero";
@import "./member-frame";
@import "./content-block";
@import "./immersive-block";
@import "./youtube-block";
@import "./meet-our-crew";
@import "./contact-us";
@import "./vars";
@import "./carousel";


@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$main-width: 1280px; 

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    background-color: $white;
    overflow-x: hidden;
}

.page-content {
    margin-top: $navbar-height;

    @media only screen and (max-width: 768px) {
        margin-top: $navbar-height-mobile;
    }
}

h1, p, div, input, button, textarea, select {
    font-family: "League Gothic", sans-serif;
}

p {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
}

.bg-grey {
    background-color: $grey;
}

.jeremy-selected {
    filter: hue-rotate(240deg) drop-shadow(5px 5px gold);
    overflow-x: hidden;
}

.jeremy-mode {
    cursor: url("../../public/images/cursor.png"), auto;
}

.jeremy-letter {
    cursor: pointer;

    &--clicked {
        color: $pink;
        font-size: 3rem;
    }
}

.bts-header {
    margin-top: 1rem;
    width: 100%;
    background-color: $grey;
    color: $white;
    padding: .5rem 1rem;
    text-align: center;
    font-size: $desktop-title;

    @media only screen and (max-width: 768px) {
        font-size: $mobile-title;
    }
}